@{
    ViewBag.Title = "About";
}

<div class="bg_1 wrap_2 wrap_4">
    <div class="container">
        <div class="row">
            <div class="preffix_2 grid_8">
                <h2 class="header_1 wrap_3 color_3">
                    About Us...<br />

                </h2>
            </div>
        </div>
        <div class="row">
            <div class="grid_12">
                <div class="box_1">
                    <p class="text_index">

                        I am a professional in the share market for about 5 years and having teaching experience in share
                        market from last five years.
                     </p> <p class="text_index">
                        So the idea behind to start the share market training classes to share my experience with new investors
                        who are ready to invest in the market but doesn't know how to go about it. Keeping this in mind I have started
                        taking the classes and educating new investors about how to invest in share market, the knowhow’s of the
                        market and how not to lose money!!!
                    <p class="text_index">
                        As new comers generally look at the market to make money, but the primary study of the
                        market should be “how not to lose money”, rather than “how to make money”.
                    <p class="text_index">
                        I have started taking the classes from 2013 and I have undergone many new investors
                        who are happy with the knowledge I have imparted upon them. As I go about educating them about
                        the Technical aspect of the market before putting their money in random Stocks or putting the
                        money on market tips which are generally harmful for the investors.
                    <p class="text_index">
                        We have started our two branches one is in Pune and other is Karad (Satara).

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row wrap_1 wrap_5">
        <div class="grid_3">
            <div class="box_1">
                <div class="icon_1"></div>
                <h3 class="text_2 color_2 maxheight1"><a href="#">Share Market Planning</a></h3>
                <p class="text_3 color_2 maxheight">
                    Understanding share market planning, investment through classroom and workshops for teaching, learning and understanding basics.
                </p>
                
            </div>
        </div>
        <div class="grid_3">
            <div class="box_1">
                <div class="icon_2"></div>
                <h3 class="text_2 color_2 maxheight1"><a href="#">Marketing Research</a></h3>
                <p class="text_3 color_2 maxheight">
                    Understanding current trend in market, ups and down. Detailed technical analysis of stocks with charts
                </p>
                
            </div>
        </div>
        <div class="grid_3">
            <div class="box_1">
                <div class="icon_3"></div>
                <h3 class="text_2 color_2 maxheight1"><a href="#">Student Benefits</a></h3>
                <p class="text_3 color_2 maxheight">
                    Trading is good idea in stock market to earn extra income.Getting the share market knowledge and make able to invest in share market
                </p>
                
            </div>
        </div>
        <div class="grid_3">
            <div class="box_1">
                <div class="icon_4"></div>
                <h3 class="text_2 color_2 maxheight1"><a href="#">Portfolio Management</a></h3>
                <p class="text_3 color_2 maxheight">
                    Expert Management, <br /> Active in Risk Management, <br /> Management of Funds.
                </p>
                
            </div>
        </div>
    </div>
</div>
