@{
    ViewBag.Title = "Home Page";
}


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="@Url.Content("~/images/index_slide01.jpg")" style="width:100%" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <p><h1>Aenean a rutrum nulla. Vestibulum a arcu at nisi tristique pretium.</h1></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="@Url.Content("~/images/index_slide02.jpg")" style="width:100%" data-src="" alt="Second    slide">
            <div class="container">
                <div class="carousel-caption">
                    <p><h1>Aenean a rutrum nulla. Vestibulum a arcu at nisi tristique pretium.</h1></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="@Url.Content("~/images/index_slide03.jpg")" style="width:100%" data-src="" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <p><h1>Aenean a rutrum nulla. Vestibulum a arcu at nisi tristique pretium.</h1></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<!--
<div class="camera-wrapper">
    <div id="camera" class="camera-wrap">
        
        <!--
        <div data-src="images/index_slide01.jpg">
            <div class="fadeIn camera_caption">
                <h2 class="text_1 color_1">Solutions that you need!</h2>
                <a class="btn_1" href="#">More info</a>
            </div>
        </div>
        <div data-src="images/index_slide02.jpg">
            <div class="fadeIn camera_caption">
                <h2 class="text_1 color_1">Education is journey, This is just not a race</h2>
                <a class="btn_1" href="#">More info</a>
            </div>
        </div>
        <div data-src="images/index_slide03.jpg">
            <div class="fadeIn camera_caption">
                <h2 class="text_1 color_1">Awesome Education system, We always provide our best level support!</h2>
                <a class="btn_1" href="#">More info</a>
            </div>
        </div>
            
    </div>
</div>
-->
<div class="container">
    <div class="row wrap_1 wrap_5">
        <div class="grid_3">
            <div class="box_1">
                <div class="icon_1"></div>
                <h3 class="text_2 color_2 maxheight1"><a href="#">Share Market Planning</a></h3>
                <p class="text_3 color_2 maxheight">
                    Understanding share market planning, investment through classroom and workshops for teaching, learning and understanding basics.
                </p>
                <a class="btn_2" href="#">read more</a>
            </div>
        </div>
        <div class="grid_3">
            <div class="box_1">
                <div class="icon_2"></div>
                <h3 class="text_2 color_2 maxheight1"><a href="#">Marketing Research</a></h3>
                <p class="text_3 color_2 maxheight">
                    Understanding current trend in market, ups and down.
                </p>
                <a class="btn_2" href="#">read more</a>
            </div>
        </div>
        <div class="grid_3">
            <div class="box_1">
                <div class="icon_3"></div>
                <h3 class="text_2 color_2 maxheight1"><a href="#">Student Benefits</a></h3>
                <p class="text_3 color_2 maxheight">
                    Getting the share market knowledge, make able to invest in share market
                </p>
                <a class="btn_2" href="#">read more</a>
            </div>
        </div>
        <div class="grid_3">
            <div class="box_1">
                <div class="icon_4"></div>
                <h3 class="text_2 color_2 maxheight1"><a href="#">Portfolio Management</a></h3>
                <p class="text_3 color_2 maxheight">
                    Giving Training on portfolio management
                </p>
                <a class="btn_2" href="#">read more</a>
            </div>
        </div>
    </div>
</div>
<div class="bg_1 wrap_2 wrap_4">
    <div class="container">
        <div class="row">
            <div class="preffix_2 grid_8">
                <h2 class="header_1 wrap_3 color_3">
                    The Best Share Marketing Classes<br />

                </h2>
            </div>
        </div>
        <div class="row">
            <div class="grid_12">
                <div class="box_1">
                    <p class="text_3">
                        Visit our official blog for more detailed information about this

                        <br />

                        <br />
                        <br />
                        Ganraj Share market classes is one of the renowned classes in shivane, It has one more branch
                        in karad. We provides the best quality education and give the practical knowledge to the student
                        . We also teach the classes in hindi and marathi medium.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row wrap_1">
        <div class="grid_6">
            <div class="wrap_6">
                <div class="box_2 maxheight2">
                    <div class="put-left"><img src="images/index_img01.png" alt="Image 1" /></div>
                    <div class="caption">
                        <h3 class="text_2 color_2">
                            Save Your Time <br />
                            with Us
                        </h3>
                        <p class="text_3">
                            Hurry Up, let start to learn share market. This is one step in big market
                        </p>
                        <a href="#" class="btn_2">read more</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="grid_6">
            <div class="wrap_6">
                <div class="box_2 maxheight2">
                    <div class="put-left"><img src="images/index_img02.png" alt="Image 2" /></div>
                    <div class="caption">
                        <h3 class="text_2 color_2">
                            The Highest <br />
                            Quality Education
                        </h3>
                        <p class="text_3">

                        </p>
                        <a href="#" class="btn_2">read more</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="bg_1 wrap_7 wrap_5">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <h2 class="header_1 wrap_8 color_3">
                    What Students Say
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="grid_12">
                <div id="owl">
                    <div class="item">
                        <p class="text_3">
                            Vivamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a,
                            commodo luctus libero. Praesent faucibus malesuada faucibus. Donec laoreet metus id
                            laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                            consectetur orci sed nulla facilisis consequat. Curabitur vel lorem sit amet nulla
                            ullamcorper fermentum. In vitae varius augue, eu consectetur ligula. Etiam dui eros,
                            <br />
                            laoreet sit amet est vel, commodo venenatis eros. Fusce adipiscing quam id risus
                            sagittis, non consequat lacus interdum.
                        </p>
                    </div>
                    <div class="item">
                        <p class="text_3">
                            Vivamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a,
                            commodo luctus libero. Praesent faucibus malesuada faucibus. Donec laoreet metus id
                            laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                            consectetur orci sed nulla facilisis consequat. Curabitur vel lorem sit amet nulla
                            ullamcorper fermentum. In vitae varius augue, eu consectetur ligula. Etiam dui eros,
                            <br />
                            laoreet sit amet est vel, commodo venenatis eros. Fusce adipiscing quam id risus
                            sagittis, non consequat lacus interdum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row wrap_9 wrap_4 wrap_10">
        <div class="grid_12">
            <div class="header_1 wrap_3 color_3">
                Get in Touch
            </div>
            <div class="box_3">
                <ul class="list_1">
                    <li><a class="fa fa-twitter" href="#"></a></li>
                    <li><a class="fa fa-facebook" href="#"></a></li>
                    <li><a class="fa fa-google-plus" href="#"></a></li>
                    <li><a class="fa fa-pinterest" href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>